@model DemoCoreApp.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

@if (Model != null && Model.Messages.Count() != 0)
{

    @foreach (var msg in Model.Messages)
    {
        <div class="alert alert-danger">
            <strong>ERROR!</strong> @msg
        </div>
    }
}

<h2>Login</h2>
<div class="row">
    <div class="col-md-12">
        <form method="post" action="Login">
            @*<div asp-validation-summary="All" class="text-danger"></div>*@
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>

</div>

